.sortLeftBar {
  display: flex;
  flex-direction: column;
}

.wrapper_filter_param {
  position: relative;
  width: 238px;
  left: 1px;
  top: 10px;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
}

.price_input {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.price_input input {
  width: 100px;
  height: 23px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 14px;
  gap: 10px;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(255, 198, 80, 0.3) 0%,
    rgba(254, 202, 110, 0.3) 97.25%
  );
  border-radius: 1000px;
  margin-bottom: 30px;
}

.categories_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;

  padding: 15px;
  width: 238px;
  height: 300px;
}

.inactive {
  height: 70px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;

  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  cursor: pointer;
}

.active {
  height: 70px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(173, 173, 173);

  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  cursor: pointer;
}

.search {
  box-sizing: border-box;
  display: flex;
  width: 235px;
  height: 59px;
  border-radius: 36px;
  background: #ededed;
  padding-right: 13px;
  margin-bottom: 15px;
}

.search img {
  width: 39px;
}

.search input {
  box-sizing: border-box;
  width: 186px;
  height: 59px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px 13px 20px;
  gap: 10px;
  border: none;

  background: #ededed;
  border-radius: 36px;
  outline: none;
}

.invisible {
  display: none;
}

.checkbox_wrapper {
  width: 10px;
  height: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  /* justify-content: start; */
}

.price {
  display: block;
  margin-top: 10px;
}

.priceWrapper h4 {
  margin-bottom: 15px;
}

.checkbox_wrapper {
  margin-bottom: 15px;
}
.checkbox_wrapper label {
  margin-left: 10px;
}

.viewAll {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #3f4e65;
}

.viewAll img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 40px;
}
.buttonSubmit {
  width: 169px;
  height: 59px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 19px;
  gap: 12px;

  background: #ffc85e;
  border-radius: 79px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

.buttonDelete {
  height: 59px;
  width: 59px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 19px;
  gap: 12px;
  background: #ffc85e;
  border-radius: 79px;
  border: none;
}

@media (max-width: 780px) {
  .sortLeftBar {
    width: 100%;
  }

  .wrapper_filter_param {
    padding: 15px;
    width: 100%;
  }
  .price_input {
    width: 232px;
  }

  .buttonSubmit {
    width: 216px;
  }

  .buttonWrapper {
    width: 288px;
  }
  .search {
    width: 288px;
  }
  .search input {
    width: 240px;
  }
}
