header {
  width: 100%;

  margin: 0 auto;
  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.menu {
  height: 61px;
  border-bottom: 1px solid rgb(63, 78, 101, 0.2);
  display: flex;
  align-items: center;
}

.menu .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  line-height: 130.02%;

  color: #111111;
}

.address {
  display: flex;
  align-items: center;
  width: 275px;
  height: 34px;
}

.address div {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.address img {
  width: 20px;
  height: 20px;
}
.main-address {
  width: 240px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130.02%;
  color: #111111;
}

.second-address {
  width: 240px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 130.02%;
  color: #3f4e65;
}

.mail {
  width: 275px;
  height: 34px;
  display: flex;
  align-items: center;
}

.mail img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.mail span span {
  font-weight: 300;
  font-size: 12px;
  line-height: 130.02%;
  color: #3f4e65;
}

nav {
  width: 512px;
  height: 29px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 150%;
  color: #3f4e65;
}

ul {
  width: 100%;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 30px;
}

ul li {
  display: inline;
}

a {
  text-decoration: none;
}

.headers {
  border-bottom: 1px solid rgb(63, 78, 101, 0.2);
}

.headers .container {
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 108px;
}

.headers .container img:first-child {
  width: 156px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 128px;
}

.card div {
  display: flex;
  flex-direction: column;
}

#card-img {
  width: 46px;
  height: 46px;
}
.button-catalog {
  box-sizing: border-box;
  width: 192px;
  height: 59px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 19px;
  gap: 12px;
  font-weight: 700;
  color: #ffffff;

  background: #ffc85e;
  border-radius: 79px;
}

.search {
  box-sizing: border-box;
  display: flex;
  width: 263px;
  height: 59px;
  border-radius: 36px;
  background: #ededed;
  padding-right: 13px;
}

.search img {
  width: 39px;
}

header input {
  box-sizing: border-box;
  width: 263px;
  height: 59px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px 13px 20px;
  gap: 10px;
  border: none;

  background: #ededed;
  border-radius: 36px;
  outline: none;
}

.order-call {
  display: flex;
  align-items: center;
  text-align: right;
}

.order-call div {
  width: 152px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 14px;
}

.order-call div span:nth-child(2) {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3f4e65;
}

.order-call div span:nth-child(3) {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #3f4e65;
}

.button-price {
  box-sizing: border-box;
  width: 192px;
  height: 59px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 19px;
  gap: 12px;
  font-weight: 700;
  color: #ffffff;

  background: #ffc85e;
  border-radius: 79px;
}

.allCount {
  position: relative;
  top: -26px;
  left: -24px;
  box-sizing: border-box;
  background: #ffc85e;
  border: 3px solid #ffffff;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
}

@media (max-width: 990px) {
  .container {
    width: 990px;
    margin: 0 auto;
  }
  .headers .container {
    width: 990px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }

  .search {
    box-sizing: border-box;
    display: flex;
    width: 150px;
    height: 40px;
    border-radius: 36px;
    background: #ededed;
    padding-right: 13px;
  }

  .search img {
    width: 27px;
  }

  header input {
    box-sizing: border-box;
    width: 110px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 13px 10px 13px 20px;
    gap: 10px;
    border: none;

    background: #ededed;
    border-radius: 36px;
    outline: none;
  }

  .button-catalog {
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 19px;
    gap: 12px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    background: #ffc85e;
    border-radius: 79px;
  }

  .button-price {
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    display: flex;
    font-size: 12px;
    align-items: center;
    padding: 10px 19px;
    gap: 0px;
    font-weight: 700;
    color: #ffffff;
    background: #ffc85e;
    border-radius: 79px;
  }

  .order-call img {
    display: none;
  }
  .order-call div {
    font-size: 12px;
    width: 120px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 14px;
  }

  .order-call div span:nth-child(2) {
    font-weight: 300;
    font-size: 10px;
    line-height: 150%;
    color: #3f4e65;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    margin-right: 10px;
  }

  .headers .container img:first-child {
    width: 136px;
    margin-left: 10px;
  }
}

@media (max-width: 780px) {
  .bottomLine {
    display: flex;
    border-bottom: 1px solid rgb(63, 78, 101, 0.1);
    height: 40px;
    border-top: 1px solid rgb(63, 78, 101, 0.1);
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #3f4e65;
  }

  .topLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
  }

  .topLine button {
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    background: #ffc85e;
    border-radius: 1000px;
    border: none;
  }

  .topLine button span {
    position: absolute;
    width: 8.4px;
    height: 1px;
    background-color: white;
    top: 16px;
    left: 12px;
    transition: 1s all linear;
  }

  .topLine button span:nth-child(1) {
    transform: translateY(3px);
  }
  .topLine button span:nth-child(3) {
    transform: translateY(-3px);
  }

  .logo {
    width: 97px;
    height: 41px;
  }
  .card {
    position: relative;
    width: auto;
  }

  #card-img {
    height: 25px;
    width: 25px;
  }
  .card span {
    font-size: 10px;
    width: 17px;
    height: 17px;
    position: absolute;
    top: -4px;
    left: 14px;
  }

  .bottomLine div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
  }
  .bottomLine div:nth-child(1) {
    border-right: 1px dashed rgb(63, 78, 101, 0.1);
  }
  .bottomLine div span {
    margin-left: 6px;
  }

  .burger-menu {
    position: fixed;
    overflow-y: auto;
    top: 105px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: white;
    padding: 0 13px 0 13px;
    z-index: 10;
  }
  .order-call {
    display: flex;
  }

  .order-call div {
    align-items: start;
    margin-left: 16px;
  }

  .order-call img {
    display: block;
    width: 18px;
    height: 18px;
  }

  .order-call div span:nth-child(3) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    text-decoration-line: none;
    color: #3f4e65;
  }
  .order-call_mob {
    display: flex;
    align-items: center;
  }
  .order-call_mob span:nth-child(1) {
    width: 30px;
    height: 30px;
    display: flex;

    align-items: center;
    justify-content: center;
    background: #ffc85e;
    border-radius: 50%;
  }

  .order-call_mob span:nth-child(2) {
    margin-left: 7px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-decoration-line: underline;

    color: #3f4e65;
  }

  .contact-info_wrapper {
    height: 243px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px dashed rgb(63, 78, 101, 0.2);
  }

  .menu_wrapper {
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .button-price {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 290px;
    height: 70px;
    font-size: 14px;
    line-height: 17px;
  }

  .topLine .closeSpan span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }
  .topLine .closeSpan span:nth-child(2) {
    opacity: 0;
  }
  .topLine .closeSpan span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }
}
