.wrapper {
  margin-top: 15px;
  display: flex;

  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3f4e65;
}

.inactive {
  height: 70px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  /* 1 */

  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  cursor: pointer;
}

.active {
  height: 70px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cccccc;

  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  cursor: pointer;
}

.sortBarColumn {
  display: flex;
  flex-direction: column;
}
@media (max-width: 990px) {
  .wrapper {
    width: 100%;
  }
  .inactive {
    height: 35px;
  }

  .active {
    height: 35px;
  }
}

@media (max-width: 990px) {
  .wrapper {
    width: 50%;
    margin-bottom: 15px;
  }
  .inactive {
    height: 35px;
    justify-content: start;
  }

  .active {
    height: 35px;
    justify-content: start;
  }
}
